html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}
html::-webkit-scrollbar {
    display: none;
}
body {
    background: url('colors.gif');
    background-size: cover;
}
header {
    border-bottom: 3px solid rgb(58, 58, 58);
    width: 100%;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-top: -100px;
    position: fixed;
    z-index: 999;
    backdrop-filter: blur(10px);
}
.judul {
    color: white;
    margin-left: 150px;
    margin-top: 100px;
    width: 505px;
    user-select: none;
}
.judul h1 {
    font-size: 80px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative; top: 200px;
    padding-right: 10px;
}
.judul h1:hover {
    text-shadow: 0px 0px 10px lime, 0px 0px 50px lime;
    cursor: pointer;
}
.judul h2 {
    font-size: 40px;
    font-family: cursive;
    letter-spacing: 10px;
    position: relative; bottom: -100px;
    padding-right: 5px;
}
.judul h2:hover {
    text-shadow: 0px 0px 10px lime, 0px 0px 50px lime;
    cursor: pointer;
}
nav {
    color: white;
    width: 100%;
    user-select: none;
    margin-left: 1070px;
    margin-top: 10px;
    display: flex;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    backdrop-filter: blur(10px);
}
nav a {
    color: white;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    user-select: none;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
nav a:hover {
    color: rgb(0, 174, 255);
    cursor: pointer;
    text-decoration: underline;
}
nav input[type=button] {
    background-color: rgb(0, 179, 255);
    color: white;
    width: 70px;
    height: 30px;
    border-radius: 20px;
    border: 2px solid white;
    margin-left: 20px;
    margin-top: -5px;
    user-select: none;
}
nav input[type=button]:hover {
    background-color: rgb(0, 110, 255);
    cursor: pointer;
}
nav input[type=button]:active {
    background-color: rgb(0, 80, 185)
}
.usericon {
    position: relative; left: 1470px; bottom: 25px;
}
.usericon:hover {
    filter: brightness(80%);
}
.atas {
    display: flex;
    justify-content: flex-start;
}
.smkn {
    display: flex;
    justify-content: flex-start;
}
.kandeman {
    display: flex;
    justify-content: flex-start;
    margin-left: 30px;
}
.bawah {
    display: flex;
    justify-content: flex-start;
}
.gambar {
    margin-left: 900px;
    margin-top: -250px;
    padding: 0px;
    animation-duration: 3s;
    animation-timing-function: ease-in-out 3s;
    animation-iteration-count: infinite;
    transition-duration: 2s;
    rotate: 0deg;
    user-select: none;
}
.gambar:hover {
    cursor: pointer;
    filter: drop-shadow(-10px 15px 15px rgba(0, 255, 255, 0.54));
    transform: scale(1.05); rotate: 2deg;
}
.rpl-info h2 {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
    margin-left: 500px;
    margin-top: -400px;
}
.rpl-info p {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    width: 950px;
    margin-left: 500px;
    line-height: 1.8;
}
#About .imag {
    user-select: none;
}
#About .gambar-keuntungan {
    user-select: none;
    margin-left: 1100px;
    margin-top: 30px;
}
#About .keuntungan h2 {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    margin-top: -350px;
    margin-left: 20px;
}
#About .keuntungan p {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    margin-left: 20px;
    width: 70%;
    line-height: 1.8;
}
#About .keuntungan ol li {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    width: 70%;
    line-height: 1.8;
    margin-left: 20px;
}
#Creator .kotak {
    border: 5px solid white;
    width: 800px;
    height: 200px;
}
#Creator .kotak h1 {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-weight: bold;
    font-size: 50px
}
#Creator .kotak .bio {
    border: 5px solid white;
    width: 800px;
    height: 220px;
    margin-left: -5px;
}
#Creator .kotak .bio h2 {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    margin-left: 20px;
    font-size: 25px
}
#Creator .profile {
    border: 3px solid white;
    margin-left: 1000px;
    margin-top: -210px;
    user-select: none;
}
#Creator .kotak .alasan {
    border: 5px solid white;
    width: 800px;
    height: 260px;
    margin-left: -5px;
    margin-top: -2px;
}
#Creator .kotak .alasan p {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 20px;
    margin-left: 20px;
    line-height: 2;
    margin-top: 10px;
    width: 750px;
}
#Contact .contact-card {
    border: 5px solid white;
    margin-top: -430px;
    width: 800px;
    height: 420px;
}
#Contact .contact-card textarea {
    margin-top: 15px;
    margin-left: 15px;
    resize: none;
}
#Contact .contact-card #send-wa {
    width: 150px;
    height: 50px;
    border-radius: 10px;
    background-color: rgb(0, 132, 255);
    color: white;
    font-family: cursive;
    font-size: 18px;
    float: right;
    margin-top: 12px;
    margin-right: 12px;
}
#Contact .contact-card #send-wa:hover {
    background-color: rgb(0, 97, 188);
    cursor: pointer;
}
#Contact .contact-card #send-wa:active {
    background-color: rgb(0, 65, 150);
}
footer {
    border-top: 5px solid rgb(87, 87, 87);
    display: flex;
    justify-content: center;
    color: white;
    font-size: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    backdrop-filter: blur(10px);
}